.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.idea
__pycache__
!/uv.lock
/uv.lock

# Build and distribution files
*.egg-info/
build/
dist/
*.whl
*.tar.gz
/notebook/
#/.github/
/doc/todo/
docs/_build/
docs/build/
/doc/private/

/.vscode/
/.trae/
/doc/.obsidian/
/doc/.smtcmp_json_db/
/doc/.smtcmp_vector_db.tar.gz
/doc/copilot-custom-prompts/
/.cursor/
/.qoder/
/discussion/
